body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

/*------------------
Navigation search
------------------- */

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    margin-right: 10px;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
}

.search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
}
/*-----------------------------
shop card
------------------------------ */
.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

/*-----------------
Nowości image
---------------*/

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.hero-image {
  color: white;
  background-image: url("Mi10.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% ;
  position: relative;

}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}




#mySidenav a {
  margin-top: 50px;
  position: absolute; /* Position them relative to the browser window */
  right: -155px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 20px; /* 15px padding */
  width: 200px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 5px 0px 0px 5px; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  right: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#instagram {
  top: 20px;
  background-color: #4CAF50;
}

#facebook {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#twitter {
  top: 140px;
  background-color: #f44336; /* Red */
}

#write_to_us {
  top: 200px;
  background-color: #555 /* Light Black */
}