{% extends 'base.html' %}
{% block content %}
<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

<div class="product-picture">
    <img src="https://img.gkbcdn.com/p/2020-02-14/Xiaomi-Mi10-Pro-5G-Smartphone-6-67-Inch-12GB-512GB-Blue-896596-._w500_.jpg" alt="Paris" class="product-image">
    <div>
        <button class="picture-buy-button">Zobacz</button>
    </div>
    <div>
        <button class="add-to-koszyk"><i class="fa fa-shopping-cart "></i></button>
    </div>
</div>

{% endblock content %}